.navbar {
    box-shadow: 2px 2px 5px #000;
    opacity: 0.9;
  }
  
  .navbar .nav-item .nav-link {
    color: #fff;
  }
  
  .main-header {
    position:relative;
    background: url(../img/background2.jpg);
    background-size: cover;
  }
