

#formularioLogin {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}


body {
    position: relative;
    background: url(../img/background2.jpg);
    background-size: cover;
    min-height: 100px;
}

.logo {
  position: relative;
  width: 125px;
  height: 125px;
}
